{% extends 'base.html.twig' %}

{% block title %}{% trans %} layout.register.title {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} layout.register.title {% endtrans %}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">{% trans %} form.button.register.signup {% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
