<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <div>
            {% if locale == 'fr' %}
                {% trans %}layout.locale.french{% endtrans %}
            {% else %}
                {% if route is defined %}
                    <a href="{{ path("app_change_locale", {locale: 'fr', path: route}) }}">{% trans %}layout.locale.french{% endtrans %}</a>
                {% else %}
                    <a href="{{ path("app_change_locale", {locale: 'fr'}) }}">{% trans %}layout.locale.french{% endtrans %}</a>
                {% endif %}                
            {% endif %} 
            | 
            {% if locale == 'en' %}
                {% trans %}layout.locale.english{% endtrans %}
            {% else %}
                {% if route is defined %}
                    <a href="{{ path("app_change_locale", {locale: 'en', path: route}) }}">{% trans %}layout.locale.english{% endtrans %}</a>
                {% else %}
                    <a href="{{ path("app_change_locale", {locale: 'en'}) }}">{% trans %}layout.locale.english{% endtrans %}</a>
                {% endif %}                
            {% endif %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
